<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap.min.css') }}"
    />
    <style>
      .login-form {
        display: flex;
        align-content: center;
        justify-content: baseline;
        width: 100%;
      }
      .text-messages {
        height: 85.9vh;
        overflow: auto;
      }
      #to-user {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: wheat;
      }
      .reciever-msg {
        border-radius: 5px;
        margin: 10px;
        padding: 15px 40px;
        border: 1px #dddddd solid;
        background-color: #5793d8;
        width: max-content;
      }
      .sender-msg {
        border-radius: 5px;
        margin: 10px;
        padding: 15px 40px;
        border: 1px #dddddd solid;
        background-color: #e28fbb;
      }
      .sender-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    </style>
    <script>
      if (!localStorage.getItem("gid")) {
        window.location = "/";
      }
    </script>
    <title>Portena</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark white">
      <a class="navbar-brand" href="#">Portena</a>
    </nav>
    <div id="to-user">{{ user_gid }}</div>
    <div class="text-messages"></div>

    <div class="login-form">
      <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#exampleModal"
        onclick="requestToCallUser()"
      >
        Call
      </button>
      <input
        class="form-control"
        id="chatMsg"
        placeholder="Enter your text..."
      />
      <button
        type="submit"
        class="btn btn-primary"
        onclick="generatePacketAndSend()"
      >
        Send
      </button>
    </div>
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#popUpModal"
      id="popUpModalButton"
    >
      yo
    </button>
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      id="ackModalButton"
      data-target="#ackModal"
    >
      ack
    </button>
    <!-- Modal to start call -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Waiting to accept Call
            </h5>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal to display ack -->
    <div
      class="modal fade"
      id="ackModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="ackModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ackModalLabel"></h5>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal to popup for call -->
    <div
      class="modal fade"
      id="popUpModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="popUpModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="popUpModalLabel"></h5>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-dismiss="modal"
              onclick="callAction('decline')"
            >
              Decline
            </button>
            <button
              type="button"
              class="btn btn-success"
              onclick="callAction('accept')"
            >
              Accept
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='socket.io.min.js') }}"></script>

    <script>
      var socket = io.connect("http://127.0.0.1:5000");
      function generatePacketAndSend() {
        var chatMsg = document.getElementById("chatMsg").value;
        document.getElementById("chatMsg").value = "";
        const messagePacket = {
          message: chatMsg,
          fromGid: localStorage.getItem("gid"),
          toGid: document.getElementById("to-user").innerHTML
        };
        socket.emit("message", { data: messagePacket });
        addMsgToLocalStorage(messagePacket);

        // TODO: Write code for ack of each emitted packet.
      }
      socket.on("reply", function(data) {
        data = JSON.parse(data.replace(/u'/g, "'").replace(/'/g, '"'));
        addMsgToLocalStorage(data.data);
      });
    </script>

    <script>
      function addMsgToLocalStorage(messagePacket) {
        let chatMessages = JSON.parse(localStorage.getItem("chatMessages"));
        if (!chatMessages) {
          chatMessages = {};
        }
        if (!chatMessages[document.getElementById("to-user").innerHTML]) {
          chatMessages[document.getElementById("to-user").innerHTML] = [
            messagePacket
          ];
        } else {
          chatMessages[document.getElementById("to-user").innerHTML].push(
            messagePacket
          );
        }
        localStorage.setItem("chatMessages", JSON.stringify(chatMessages));
        generateChatMessages();
      }
      function generateChatMessages() {
        var messageBox = document.createElement("message-box");
        let chatMessages = JSON.parse(localStorage.getItem("chatMessages"));
        if (!chatMessages) {
          chatMessages = {};
        }
        if (!chatMessages[document.getElementById("to-user").innerHTML]) {
          chatMessages[document.getElementById("to-user").innerHTML] = [];
        } else {
          chatMessages[document.getElementById("to-user").innerHTML].forEach(
            user => {
              console.log(user);
              
              var nodeContainer = document.createElement("div");
              var messageContainer = document.createElement("div");
              if (user.fromGid === localStorage.getItem("gid")) {
                nodeContainer.className = "sender-container";
                messageContainer.className = "sender-msg";
                messageContainer.innerHTML = user.message;
                nodeContainer.appendChild(messageContainer);
              } else if (user.fromGid === $("#to-user")[0].innerHTML) {
                nodeContainer.className = "reciever-container";
                messageContainer.className = "reciever-msg";
                messageContainer.innerHTML = user.message;
                nodeContainer.appendChild(messageContainer);
              }
              messageBox.appendChild(nodeContainer);
            }
          );
        }
        $(".text-messages")[0].innerHTML = "";
        $(".text-messages")[0].appendChild(messageBox);
      }
      generateChatMessages();
    </script>

    <script>
      function requestToCallUser() {
        socket.emit("requestToCall", {
          requesting_gid: localStorage.getItem("gid"),
          for_gid: $("#to-user").innerHTML
        });
      }
      socket.on("userRequestedToCall", function(gidInfo) {
        console.log(gidInfo);
        gidInfo = JSON.parse(gidInfo.replace(/u'/g, "'").replace(/'/g, '"'));
        $("#popUpModalLabel")[0].innerHTML =
          "User " + gidInfo["requesting_gid"] + "has requested to call you.";
        $("#popUpModalButton")[0].click();
      });
      function callAction(action) {
        socket.emit("callActionFromUser", { acceptance: action });
      }
      socket.on("acceptanceAck", function(ack) {
        ack = JSON.parse(ack.replace(/u'/g, "'").replace(/'/g, '"'));
        $("#ackModalButton")[0].click();
        if (ack["acceptance"] === "accept") {
          $("#ackModalLabel")[0].innerHTML = "User has accepted your call.";
        } else {
          $("#ackModalLabel")[0].innerHTML = "User has declined your call.";
        }
      });
    </script>

    <script>
      function b64toBlob(b64Data, contentType, sliceSize) {
        contentType = contentType || "";
        sliceSize = sliceSize || 512;

        var byteCharacters = atob(b64Data);
        var byteArrays = [];

        for (
          var offset = 0;
          offset < byteCharacters.length;
          offset += sliceSize
        ) {
          var slice = byteCharacters.slice(offset, offset + sliceSize);

          var byteNumbers = new Array(slice.length);
          for (var i = 0; i < slice.length; i++) {
            byteNumbers[i] = slice.charCodeAt(i);
          }

          var byteArray = new Uint8Array(byteNumbers);

          byteArrays.push(byteArray);
        }

        var blob = new Blob(byteArrays, { type: contentType });
        return blob;
      }

      var socket = io.connect("http://127.0.0.1:5000");
      const recordAudio = () =>
        new Promise(async resolve => {
          const stream = await navigator.mediaDevices.getUserMedia({
            audio: true
          });
          const mediaRecorder = new MediaRecorder(stream);
          const audioChunks = [];

          mediaRecorder.addEventListener("dataavailable", event => {
            audioChunks.push(event.data);
          });

          const start = () => mediaRecorder.start();

          const stop = () =>
            new Promise(resolve => {
              mediaRecorder.addEventListener("stop", () => {
                const audioBlob = new Blob(audioChunks);
                const audioUrl = URL.createObjectURL(audioBlob);
                const audio = new Audio(audioUrl);
                const play = () => audio.play();
                resolve({ audioBlob, audioUrl, play });
              });

              mediaRecorder.stop();
            });

          resolve({ start, stop });
        });

      const sleep = time => new Promise(resolve => setTimeout(resolve, time));

      function startRecording() {
        setTimeout(() => {
          (async () => {
            const recorder = await recordAudio();
            recorder.start();
            await sleep(1000);
            const audio = await recorder.stop();
            socket.emit("audioEmitted", { callAudio: audio });
          })();
        }, 1000);
      }

      socket.on("recievedAudio", function(callAudio) {
        console.log("Recieved Audio: ", callAudio);
        callAudio = JSON.parse(
          callAudio.replace(/u'/g, "'").replace(/'/g, '"')
        );
        callAudio["callAudio"]["audioBlob"] = b64toBlob(
          callAudio["callAudio"]["audioBlob"],
          "audio/webm;codecs=opus"
        );
        const audioBlob = new Blob([callAudio["callAudio"]], {
          type: "audio/webm;codecs=opus"
        });
        const audioUrl = URL.createObjectURL(
          callAudio["callAudio"]["audioBlob"]
        );
        const audio = new Audio(audioUrl);
        audio.play();
      });
    </script>
  </body>
</html>
