<ion-header>
  <ion-navbar color="primary">
    <ion-title><span translate>Settings</span></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  
  <ion-list-header>
    <ion-label translate>Preferences</ion-label>
  </ion-list-header>
  <button *ngIf="isWeb" ion-item (click)="changeLanguage()">
    <ion-icon name="md-globe" item-start></ion-icon>
    <ion-label translate>Change language</ion-label>
  </button>
  <ion-item>
    <ion-icon name="notifications" item-start></ion-icon>
    <ion-label translate>Notifications</ion-label>
    <ion-toggle></ion-toggle>
  </ion-item>

</ion-content>
